<%- include("includes/head") %>
<%- include("includes/header") %>

<div class="container py-md-5 container--narrow">
  <%- include("includes/flash") %>

  <%- include("includes/profile-shared") %>

  <div class="list-group">
    <% following.forEach(followedUser => { %>
    <a href="/profile/<%= followedUser.username %>" class="list-group-item list-group-item-action">
      <img class="avatar-tiny" src="<%= followedUser.avatar %>" title="<%= followedUser.username %>">
      <span><%= followedUser.username %></span>
    </a>
    <% }); %>
  </div>
</div>

<%- include("includes/footer") %>
<%- include("includes/scripts") %>